body
	background-color rgba(54, 198, 213, 0.54)
	.search-content
		position: absolute
		width: 200px
		height: 20px
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: auto
		input
			height: 20px
			width: 200px
			border:none;
		label
			background-color: #2bb92b
			font-size: 16px
		.tip-box
			display: none
			width: 205px
			height: 100px
			overflow: auto
			background-color: white
			.tips-item
				list-style: none
				padding-top:5px
				margin-top: 3px
			.active
				background-color: #66f2f2
